:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #f4ce14;
    --color-primary-hover: #d6b611;
    --color-green-dark: #495e57;
    --color-green-light: #edefee;
    --color-gray-light: #f5f5f5;
    --color-gray-dark: #464646;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', 'Karla', serif;
    box-sizing: border-box;
}

/* COMMON */

label,
input,
select,
textarea,
p {
    font-family: 'Karla';
}

input,
select,
option,
textarea {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--color-gray-light);
}

.flex {
    display: flex;
}

.flex-expanded {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.action-button {
    font-size: 18px;
    font-family: 'Karla';
    width: fit-content;
    padding: 6px 16px;
    border-radius: 100px;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
}

.action-button:hover {
    background-color: var(--color-primary-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

/* NAVIGATION */

nav {
    gap: 24px;
    padding: 16px 12px;
    margin: 0 auto;
    max-width: 1024px;
}

.nav-logo-container {
    width: 208px;
}

nav > menu {
    gap: 12px;
}

a:link,
a:visited,
Link:link,
Link:visited {
    color: var(--color-black);
    text-decoration: none;
}

.menu-link {
    font-size: 20px;
    text-align: center;
    font-family: 'Karla';
    min-width: 88px;
    padding-bottom: 4px;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.25s;
}

.menu-link:hover {
    border-bottom: 4px solid var(--color-primary);
}

.active-link .menu-link {
    border-bottom: 4px solid var(--color-primary);
}

.mobile {
    display: none;
}

.burguer-icon {
    width: 32px;
}

/* HERO */

.hero {
    color: var(--color-white);
    background-color: var(--color-green-dark);
    overflow: visible;
}

.hero-container {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    align-items: center;

    margin: 0 auto;
    max-width: 1024px;
    padding: 16px 12px;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 420px;
}

.hero-text > h1 {
    line-height: 1;
    font-size: 48px;
    color: var(--color-primary);
}

.hero-text > h2 {
    line-height: 1;
    font-size: 32px;
    font-weight: 400;
}

.hero-image {
    justify-self: end;
    max-width: 320px;
    margin-bottom: -64px;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

/* SPECIALS */

.specials {
    margin: 0 auto;
    max-width: 1024px;
    padding: 16px 12px;
    animation-duration: 0.33s;
    animation-timing-function: ease-in-out;
    animation-name: slideDownFade;
}

.specials-topbar {
    align-items: center;
    margin: 56px 0 32px 0;
}

.specials-topbar > h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

.specials-cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
}

.specials-carousel {
    display: none;
}

.menu-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-green-light);
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
}

.menu-card-carousel {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.menu-card-carousel-content {
    display: flex;
    align-items: baseline;
    gap: 16px;
    padding: 0 0 8px 0;
}

.menu-card > img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    flex-shrink: 0;
}

.menu-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 16px 24px 24px;
    flex: 1;
}

.menu-card-content > h1 {
    font-size: 32px;
    line-height: 1.1;
}

.menu-card-content > h3 {
    font-size: 24px;
    color: var(--color-green-dark);
}

.menu-card-content > p {
    min-height: 96px;
}

.special-button {
    margin-top: auto;
    align-self: flex-start;

    font-size: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-primary);
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.special-button:hover {
    background-color: var(--color-primary-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

/* TESTIMONIAL CARDS */

.testimonials {
    margin: 0 auto;
    max-width: 1024px;
    padding: 16px 12px;
    animation-duration: 0.33s;
    animation-timing-function: ease-in-out;
    animation-name: slideDownFade;
}

.testimonials-topbar > h1 {
    text-align: center;
    font-size: 48px;
    margin: 16px 0 24px 0;
}

.testimonials-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.testimonial-card {
    border-radius: 16px;
    background-color: var(--color-green-light);
    padding: 24px;
    min-height: 240px;
}

.testimonial-card-carousel {
    border-radius: 16px;
    background-color: var(--color-green-light);
    padding: 24px;
    min-height: 200px;
}

.testimonial-card > img,
.testimonial-card-carousel > img {
    width: 48px;
    height: 48px;
    margin: 0 0 16px 0;
    object-fit: contain;
}

.testimonials-carousel {
    display: none;
}

/* ABOUT */

.about-us {
    background-color: var(--color-primary);
}

.about-us-content {
    margin: 0 auto;
    max-width: 1024px;
    padding: 16px 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 352px;
}

.hero-text > .little-lemon {
    color: var(--color-green-dark);
}

.double-image {
    max-height: 288px;
    position: relative;
    top: 64px;
}

.double-image > img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.about-1 {
    position: relative;
    top: -32px;
    left: 96px;
    border-radius: 16px;
}

.about-2 {
    position: absolute;
    top: -64px;
    right: 0;
    border-radius: 16px;
}

/* RESERVE A TABLE */

.reserve-table {
    color: var(--color-white);
    overflow: hidden;
    position: relative;
    text-align: center;
}

.header-reserve {
    width: 100%;
    min-height: 300px;
    height: calc(100vh - 361px);
    object-fit: cover;
}

.header-reserve-table {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.reserve-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: var(--color-green-dark);
    transform: translate(-50%, -50%);
}

.reservation-form {
    margin: 0 auto;
    padding: 16px 24px;
    max-width: 1024px;
}

.reservation-form > div {
    margin-bottom: 12px;
}

.reservation-info {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 12px 0;
    gap: 16px;
}

.reservation-confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.confirmation-header {
    color: var(--color-white);
    position: relative;
    text-align: center;
    height: calc(100vh - 355px);
}

.confirmation-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.redirect-buttons {
    position: absolute;
    top: 85%;
    left: 50%;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    transform: translate(-50%, -50%);
}

.redirect-button {
    background-color: var(--color-primary);
    color: var(--color-gray-dark) !important;
    padding: 16px;
    border-radius: 16px;
    min-width: 180px;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 600;
}

.redirect-button:hover {
    background-color: var(--color-gray-dark);
    color: var(--color-white) !important;
    transition: 0.2s;
}

/* FOOTER */

footer {
    min-height: 208px;
    color: var(--color-white);
    padding: 24px 12px;
    background-color: var(--color-green-dark);
}

.footer-content {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.footer-content > menu {
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}

.footer-content > menu,
.footer-links {
    list-style: none;
}

.footer-links > a,
.footer-links > Link,
.footer-links > li {
    display: block;
    color: var(--color-white);
    padding-top: 8px;
    transition: color 0.5s;
    font-family: 'Karla', 'Sans Serif';
}

.footer-links > a:hover,
.footer-links > Link:hover {
    color: var(--color-primary);
}

.img-footer {
    width: 124px;
}

.img-footer > img {
    padding: 8px;
    background-color: var(--color-white);
}

/* MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
    .testimonials-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .menu-link {
        font-size: 16px;
        min-width: 64px;
    }

    .hero-image {
        max-width: 260px;
    }

    .specials-cards {
        display: none;
    }

    .specials-carousel {
        display: block;
    }

    .testimonials-cards {
        display: none;
    }

    .testimonials-carousel {
        display: block;
        background-color: var(--color-green-light);
    }

    .footer-content > menu {
        max-width: 425px;
    }
}

@media screen and (max-width: 700px) {
    .nav-logo-container {
        width: 162px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact {
        display: none;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 240px;
    }

    .double-image {
        display: none;
    }

    .footer-content > menu {
        max-width: 300px;
    }
}

@keyframes slideDownFade {
    0% {
        transform: translateY(-15%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
