body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #292a2d;
}

::-webkit-scrollbar-thumb {
    background: #f4ce14;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f4ce14;
}
